html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

.villadetails-modal{
  background-color: #e1e5ff;
}
.villadetails-list{
  background-color: #a2bdeb1c;
}
.driverdetails-modal{
  background-color: #eadef782;
}
.driverdetails-list{
  background-color: #a2bdeb1c;
}
.tarif-modal{
  background-color: #e31e1e36;
}
.tarif-list{
  background-color: #a2bdeb1c;
}
.user-profile{
  background-color: #a2bdeb1c;
}